<!-- <div>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="filterValue" (input)="applyFilter(filterValue)" />
  </mat-form-field>

  <button mat-icon-button (click)="addCustomer()">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button (click)="navigateToEditCustomer()" [disabled]="selection.selected.length !== 1">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-icon-button [disabled]="selection.isEmpty()" (click)="deleteCustomers()">
    <mat-icon>delete</mat-icon>
  </button>
</div> -->
