.theme-selector {
  .menu-container {
    padding: 2px 10px;
  }

  .color-column {
    margin-top: 16px;
  }

  .menu-title {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .color-group {
    display: flex;
    flex-direction: column;
  }
}
